<div class="defaultForm elementForm ui-widget" id="search-coordinate">
    {{ form_row(form.title) }}
    {{ form_row(form.configuration.target) }}
    {{ form_row(form.configuration.type) }}
    {{ form_row(form.configuration.srsList, {'attr': {'class': 'srs-autocomplete', 'data-autocomplete-url': path('srs_autocomplete')}}) }}
    <div id="srs-autocomplete-variants"></div>

    {{ form_row(form.configuration.zoomlevel) }}

    <div>
        {# amenity for legacy form theme #}
    {{ form_widget(form.configuration.addMapSrsList) }}{{ form_label(form.configuration.addMapSrsList) }}
    </div>

    <div class="clearContainer"></div>
</div>

<link rel="stylesheet" href="{{ asset('components/jquery-ui/themes/base/jquery-ui.min.css') }}" />
<script type="text/javascript" src="{{ asset('bundles/mapbendercoordinatesutility/srs-autocomplete.js') }}"></script>
