<div class="defaultForm elementForm">
    {{ form_row(form.title) }}
    {{ form_row(form.configuration.srsList) }}
    {{ form_row(form.configuration.zoomlevel) }}
    {{ form_row(form.configuration.addMapSrsList) }}
    <div class="clearContainer"></div>
</div>

<link rel="stylesheet" href="{{ asset('components/jquery-ui/themes/base/jquery-ui.min.css') }}" />
<script type="text/javascript" src="{{ asset('bundles/mapbendercoordinatesutility/srs-autocomplete.js') }}"></script>
