
    <div class="form-group">
        <p>{{ "mb.coordinatesutility.view.srs.title" | trans }}</p>
        <div class="dropdown" title="{{ "mb.coordinatesutility.view.srs.tooltip" | trans }}" style="padding-right:0;">
            <select class="srs" style="border:none;width:100%;height:100%;"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input class="form-control input-coordinate" placeholder="longitude / latitude" type="text" title="{{ "mb.coordinatesutility.view.transformedCoordinates.tooltip" | trans }}" value=""/>
            <div class="input-group-addon -fn-copy-clipboard"><i class="fa far fa-paste" title="{{ "mb.coordinatesutility.view.copytoclipboard.tooltip" | trans }}"></i></div>
        </div>
    </div>

    <div class="form-group">
        <p>{{ "mb.coordinatesutility.view.originCoordinates.title" | trans }}</p>
        <div class="input-group">
            <input class="form-control map-coordinate" placeholder="longitude / latitude" type="text" title="{{ "mb.coordinatesutility.view.transformedCoordinates.tooltip" | trans }}" value=""/>
            <div class="input-group-addon -fn-copy-clipboard"><i class="fa far fa-paste" title="{{ "mb.coordinatesutility.view.copytoclipboard.tooltip" | trans }}"></i></div>
        </div>
    </div>

    <div class="btn-toolbar">
        <button type="button" class="btn btn-sm btn-default coordinate-search hidden">{{ "mb.coordinatesutility.view.button.search" | trans }}</button>
        <button type="button" class="btn btn-sm btn-default center-map right">{{ "mb.coordinatesutility.view.button.centermap" | trans }}</button>
    </div>
